:root {
    --font-multiplier: 1;
    font-size: calc(100% * var(--font-multiplier));
}

html {
    transition: font-size .3s ease;
}

:root {
    --bg-main: #ede6df;
    --bg-card: #094044;
    --bg-inner-card: #091d26;

    --text-navbar: #ede6df;
    --text-title: #091d26;
    --text-inner-title: #ede6df;
    --text-card: #ede6df;
    --text-card-register-title: #ede6df;
    --text-card-register-label: #ede6df;
    --text-card-register-logbutton: #fff573;
    --text-button: #fff573;

    --shadow-dark: rgb(9, 29, 38);
    --border-input: #ccc;
    --border-outline: #fff573;

    --focus-glow: rgba(255, 255, 255, 0.37);
}

[data-theme="alternate1"] {
    --bg-main: #ffffff;
    --bg-card: rgb(255, 255, 255);
    --bg-inner-card: rgba(37, 55, 39, 0.96);

    --text-navbar: #000000;
    --text-title: #222222;
    --text-inner-title: rgba(0, 0, 0, 0.96);
    --text-card: #FAF3E1;
    --text-card-register-title: #000000;
    --text-card-register-label: #000000;
    --text-button: #ffffff;
    --text-card-register-logbutton: #253727;


    --shadow-dark: rgba(66, 66, 66, 0.62);
    --border-input: #ccc;
    --border-outline: #253727;
    --focus-glow: rgba(37, 55, 39, 0.96);
}

[data-theme="alternate2"] {
    /*--bg-main: #000000;
    --bg-card: #fff6ee;
    --bg-inner-card: rgba(183, 167, 255, 0.91);

    --text-navbar: #000000;
    --text-title: #ffffff;
    --text-inner-title: #FFFFF;
    --text-card: #000000;
    --text-card-register-title: #000000;

    --text-card-register-label: #000000;
    --text-button: #000000;
    --text-card-register-logbutton: #B7A7FF;


    --shadow-dark: rgba(0, 0, 0, 0.7);
    --border-input: #ccc;
    --border-outline: #B7A7FF;
    --focus-glow: rgba(0, 0, 0, 0.58);*/

       --bg-main: #000000;
    --bg-card: #fff6ee;
    --bg-inner-card: rgba(183, 167, 255, 0.91);
    --text-navbar: #000000;
    --text-title: #ffffff;
    --text-inner-title: #FFFFF;
    --text-card: #000000;
    --text-card-register-title: #000000;
    --text-card-register-label: #000000;
    --text-button: #000000;
    --text-card-register-logbutton: #B7A7FF;
    --shadow-dark: rgba(0, 0, 0, 0.7);
    --border-input: #ccc;
    --border-outline: #B7A7FF;
    --focus-glow: rgba(0, 0, 0, 0.58);

    background-image: url('images/sunset-beach.jpg');
    background-size: cover;           /* Covers entire area */
    background-position: center;      /* Centers the image */
    background-repeat: no-repeat;     /* Prevents tiling */
    background-attachment: fixed; 
}

* {
    transition:
            background-color 0.3s ease,
            color 0.3s ease,
            box-shadow 0.3s ease,
            border-color 0.3s ease;
}



body {
    font-family: Arial, sans-serif;
    background: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
}

#title{
    color: var(--text-title);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#welcome {
    color: var(--text-inner-title);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px var(--shadow-dark);
}

.card {
    background: var(--bg-card);
    padding: 3rem 4rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    max-width: 800px;
    text-align: center;
    font-size: 1.1rem;

}

.card h1{
    font-size: 2.5rem;
    margin-bottom:1rem;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-columns{
    display: flex;
    gap: 2rem;
    align-items: stretch;
}

.card-input {
    max-width: 900px;
    width: 100%;
    font-size: 1.0rem;
    padding: .7rem .9rem;
    border: 2px solid var(--border-input);
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-bottom: 1.5rem;
}

.card input:focus {
    border-color: var(--border-outline);
    box-shadow: 0 0 16px var(--focus-glow);
}


.login, .register, .search, .add, .logut{
    flex: 1;
    padding: 2rem;
    border-radius: 10px;
}

.login-button.log{
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--text-button);
    color: var(--bg-inner-card);
    padding: .8rem 2rem;
    box-shadow: 0 0 20px var(--shadow-dark);
}

.login-button:hover {
    transform: scale(1.1); /* grow by 10% */
}


.register{
    background-color: var(--bg-inner-card);
    color: var(--text-card);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px var(--shadow-dark);
}

#register-form label{
    min-width: 500px;
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: .9rem;
    color: var(--text-card-register-label);
    padding: .2rem;
    text-shadow: 0 0 12px var(--shadow-dark);
}

#register-message {
    min-height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: red;
    text-align: center;
}

#create-account {
    color: var(--text-card-register-title);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px var(--shadow-dark);
}

.register-button{
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--text-button);
    color: var(--bg-inner-card);
    padding: .8rem 2rem;
    box-shadow: 0 0 20px var(--shadow-dark);
}

a.register-button {
    max-width: 90%;
}

.register-button:hover {
    transform: scale(1.1); /* grow by 10% */
}

.input-container {
    position: relative;
    width: 100%;
}

.card-input {
    width: 100%;
    padding-right: 36px;
    height: 36px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-container img {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    pointer-events: none;
    border: none;
    background: none;
}


.card-columns.vertical {
    display: block;
    gap: 0;
}

.login-button.reg{
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 5px;
    color: var(--text-card-register-logbutton);
    padding: 1.2rem 0.2rem;
    text-shadow: 0 0 10px var(--shadow-dark);
}

#have-account {
    color: var(--text-card-register-title);
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 12px var(--shadow-dark);
}

.login-button.reg:hover {
    transform: scale(1.1); /* grow by 10% */
}


#login-form label{
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: .9rem;
    color: var(--text-inner-title);
    padding: .2rem;
    text-shadow: 0 0 12px var(--shadow-dark);
}


/* Search */
.search{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 6;
    padding: 1rem 4rem;
    border-radius: 10px;
    width: 400px
}

.search-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    padding: 0.2rem 1rem;
}

.search-button:hover {
    transform: scale(1.1); /* grow by 10% */
}

.logout-button{
    background-color: #091d26;
    transition: transform 0.2s ease;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 3px;
    padding: .1rem 2rem;
    cursor: pointer;
    color: #000000;
}
.logout-button:hover {
    transform: scale(1.1); /* grow by 10% */
}

/* css for Add contact -----------------------------*/
.add-contact {
    display: none;
    margin-top: 1.5rem;
}

.card-inputadd {
    width: 70%;
    font-size: 0.75rem;
    padding: .4rem .4rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-bottom: 1.5rem;
}

.card-input3 {
    width: 100%;
    font-size: 1.0rem;
    padding: .7rem .9rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-bottom: 1.5rem;
}

.add{
    background-color: #2e9bff;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

/*---------------------------------------------------*/
/* css for contacts grid ----------------------------*/
.contact-columns {
    background-color: #c8cacc;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;

    min-height: 350px;
    min-width: 600px;
    align-content: start;
}

.contact-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 3fr 40px 40px;
    /* Adjust sizes as needed - First, Last, Phone, Email, Edit, Delete */
    gap: 10px;
}

.grid-header {
    font-weight: bold;
    padding-bottom: 0rem;
}

.contact-columns > div {
    text-align: left;
}

#contactSearchResult {
    display: block;        
    min-height: 1.4rem; 
    margin-top: 0.5rem;
}

.navbar {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: var(--bg-card);
    display: flex;
    align-items: center;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


.settings-buttons button {
    display: inline-flex;
    align-items: center;
    font-size: 1.3rem;
    color: var(--text-inner-title);
    padding: .8rem .8rem;
    border: none;
    text-shadow: 0 0 1px var(--border-outline);
    background: transparent;
}

#cycle-theme {
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-inner-title);
    padding: .8rem .8rem;
    border: none;
    text-shadow: 0 0 1px var(--border-outline);
    background: transparent;
}

.settings-buttons img {
    width: 1.1em;
    height: 1.1em;
    display: block;
    transform: translateY(0.04em);
}

.settings-buttons button:hover{
    transition: ease .3s;
    transform: scale(1.1); /* grow by 10% */
}

.pages a{
    padding: .8rem .8rem;
    color: var(--text-navbar);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    background: transparent;
    display: inline-block;
    align-items: center;
    text-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


.pages a:hover {
    transition: ease .3s;
    transform: scale(1.1); /* grow by 10% */
}

#sample-text {
    color: var(--text-inner-title);
}

#size-header {
    color: var(--text-navbar);
}

#theme-header {
    color: var(--text-navbar);
}

.edit-button, .delete-button {
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: transparent; /* or a light color */
    font-size: 18px; /* Makes icons bigger */

    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button:hover {
    background-color: #e3f2fd; /* Light blue on hover */
}

.delete-button:hover {
    background-color: #ffebee; /* Light red on hover */
}

/*---------------------------------------------------*/
/*css for Modal------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.modal-content input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

.about-title{
    text-shadow: 0 0 10px var(--shadow-dark);
    font-size: 2.8rem;
    font-weight: bold;
    color: var(--text-inner-title);
    margin-bottom: 1rem;

}
.title-card {
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    max-width: 290px;
    height: 200px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;    /* stack name and role */
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    background: var(--bg-card);
}


.about-card {
    background-color: var(--bg-inner-card);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;

    padding: 3rem 4rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    max-width: 1000px;
}

.inner-card {
    background: var(--bg-card);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    max-width: 290px;
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}




.member-name {
    color: var(--text-navbar);
    font-size: 1.8rem;
    font-weight: bold;

}

.member-role{
    color: var(--text-navbar);
    font-size: 1.1rem;

}

.git-link{
    color: var(--text-navbar);
    font-size: 1.0rem;
}

/*---------------------------------------------------*/
