body {
    font-family: Arial, sans-serif;
    background: #ede6df;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#title{
    color: #091d26;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

#welcome {
    color: #ede6df;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgb(9, 29, 38);
}

.card {
    background: #094044;
    padding: 3rem 4rem;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    max-width: 900px;
    text-align: center;
    font-size: 1.1rem;
}

.card h1{
    font-size: 2.5rem;
    margin-bottom:1rem;
}

.card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-columns{
    display: flex;
    gap: 2rem;
    align-items: stretch;
}

.card-input {
    max-width: 900px;
    width: 100%;
    font-size: 1.0rem;
    padding: .7rem .9rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-bottom: 1.5rem;
}

.card input:focus {
    border-color: #FFF573FF;
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.37);
}


.login, .register, .search, .add, .logut{
    flex: 1;
    padding: 2rem;
    border-radius: 10px;
}

.login-button.log{
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background-color: #fff573;
    color: #091d26;
    padding: .8rem 2rem;
    box-shadow: 0 0 20px rgb(9, 29, 38);
}

.login-button:hover {
    transform: scale(1.1); /* grow by 10% */
}


.register{
    background-color: #091d26;
    color: #ede6df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgb(9, 29, 38);
}

#register-form label{
    min-width: 500px;
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: .9rem;
    color: #ede6df;
    padding: .2rem;
    text-shadow: 0 0 12px rgb(9, 29, 38);
}

#register-message {
    min-height: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: red;
    text-align: center;
}

#create-account {
    color: #ede6df;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgb(9, 29, 38);
}

.register-button{
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    background-color: #fff573;
    color: #091d26;
    padding: .8rem 2rem;
    box-shadow: 0 0 20px rgb(9, 29, 38);
}

.register-button:hover {
    transform: scale(1.1); /* grow by 10% */
}

.input-container {
    position: relative;
    width: 100%;
}

.card-input {
    width: 100%;
    padding-right: 36px;
    height: 36px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-container img {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 20px;
    height: 20px;
    pointer-events: none;
    border: none;
    background: none;
}


.card-columns.vertical {
    display: block;
    gap: 0;
}

.login-button.reg{
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 5px;
    color: #fff573;
    padding: 1.2rem 0.2rem;
    text-shadow: 0 0 10px rgb(9, 29, 38);
}

#have-account {
    color: #ede6df;
    font-size: 1rem;
    font-weight: bold;
    text-shadow: 0 0 12px rgb(9, 29, 38);
}

.login-button.reg:hover {
    transform: scale(1.1); /* grow by 10% */
}


#login-form label{
    display: block;
    text-align: left;
    font-weight: bold;
    font-size: .9rem;
    color: #ede6df;
    padding: .2rem;
    text-shadow: 0 0 12px rgb(9, 29, 38);
}


/* Search */
.search{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 6;
    padding: 1rem 4rem;
    border-radius: 10px;
    width: 400px
}

.search-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: #ea2929;
    padding: 0.2rem 1rem;
}

.search-button:hover {
    transform: scale(1.1); /* grow by 10% */
}

.logout-button{
    background-color: #091d26;
    transition: transform 0.2s ease;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 3px;
    padding: .1rem 2rem;
    cursor: pointer;
    color: #000000;
}
.logout-button:hover {
    transform: scale(1.1); /* grow by 10% */
}

.add-contact {
    display: none;
    margin-top: 1.5rem;
}

.card-inputadd {
    width: 70%;
    font-size: 0.75rem;
    padding: .4rem .4rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-bottom: 1.5rem;
}

.card-input3 {
    width: 100%;
    font-size: 1.0rem;
    padding: .7rem .9rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin-bottom: 1.5rem;
}

.add{
    background-color: #091d26;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

.contact-columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto; /* header row + first result row */
    gap: 0.3rem;

    background-color: #c8cacc;
    padding: 1rem;
    border-radius: 8px;
    margin-top: 1rem;

    min-height: 350px;
    min-width: 600px;
    align-content: start;
}

.grid-header {
    font-weight: bold;
    padding-bottom: 0rem;
}

.contact-columns > div {
    text-align: left;
}

#contactSearchResult {
    display: block;        
    min-height: 1.4rem; 
    margin-top: 0.5rem;
}